.tarjeta{
    width: 18rem;
    background-color: aliceblue;
    height: 490px !important;
}

.img-altura{
    min-height: 200px;
    max-height: 250px;
}

.altura-cuerpo{
    min-height: 400px;
    max-height: 400px;
}

.buttonSinStock{
    background-color: gainsboro;
}
.buttonSinStock:hover{
    background-color: red;
}

.colorFondoBlanco{
    background-color: white;
    border-color: green;
    text-align: center;
    color: black;
}

.iconoMasMenos{
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color:lightseagreen
}